.q-layout{
  background: #eceff1
}
.q-toolbar{
  background: #2196f3 !important;
  min-height: 65px;
}
.layout-padding{
  padding: 0 30px;
}
.q-layout-drawer {
  background: #ffffff !important;
}
.q-btn-dense.q-btn-round.menu-item{
  font-size: 18px;
}
.header-search.q-search{
  background: transparent !important;
  border: 1px solid #ffffff;
  border-radius: 30px;
  height: 40px;
  padding: 8px;
  color: #ffffff !important;
  margin-left: 30px;
}
.header-search.q-if-inverted{
  box-shadow: none;
}
.header-search .q-if::before{
  height: 0px !important;
}
.header-search .q-if-focused{
  background: none !important;
}
.header-search .q-if-inner{
  color: #ffffff;
}
.header-search.q-search .q-if-control i{
  float: right;
}
.header-search.q-search .q-if-control{
  line-height:20px;
  margin-right: 10px;
  color: #ffffff !important;
}
.header-search .q-input-target, .header-search .q-input-shadow{
  color: #ffffff !important;
}
.page-view .page-titles h3{
  color: #666;
  margin: 30px 0;
  font-size: 24px;
  font-weight: 500;
}
.right-menu{
  position: absolute;
  right: 0;
  margin-right: 35px;
}
.progile-view{
  margin-left: 30px;
  float: right;
  margin-top: 5px;
}
.progile-view .img-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #ffffff;
}
.progile-view .name-bt{
  display: inline-block;
  padding: 0;
  float: right;
  margin-left: 15px;
  text-transform: capitalize;
}
.right-menu .notifi{
  color: #ffffff;
  margin-top: 10px;
}
.right-menu .notifi .q-icon{
  color: #ffffff;
}
.q-card{
  position: relative;
  margin-bottom: 24px;
  margin-top: 10px;
  background-color: #ffffff;
  border-radius: 4px;
  border-top: 3px solid #8bc34a;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}
.q-card .q-card-container{
  padding: 30px;
}
.q-card .card-header{
  padding: 20px 30px;
}
.q-card .card-header .q-card-title{
  display: inline-block;
  vertical-align: middle;
  line-height: 17px;
  font-size: 16px;
  text-transform: uppercase;
  color: #3a405b;
  font-weight: 600;
}
.q-table-container{
    box-shadow: none;
}
.table-view, .table-view .q-table-middle{
    box-shadow: none !important;
    border-collapse: collapse;
    border: none !important;
}
.table-view tr td, .table-view .q-table tr th{
  border: 1px solid #dedcdc;
}
.table-view tr th{
  color: #172442;
  font-size: 16px;
  font-weight: 500;
}
.table-view tbody tr:nth-of-type(odd) {
	background: #f3f3f3;
}
.table-view tr td{
  color: #293551;
  font-size: 16px;
  font-weight: 400;
}
.table-view tbody td{
  height: 65px;
}
.table-view .q-table-bottom{
  background: #ffffff;
  padding: 10px 0;
  border: 1px solid #dedcdc;
}
.table-view .q-table-bottom-item, .table-view .q-input-target {
  font-size: 16px;
  color: #2196f3;
}
.table-view .q-input-target .q-if-control{
  color: #000 !important;
}
.table-view .view-btn{
  box-shadow: 0 3px 6px rgba(0, 0, 0, .1), 0 3px 6px rgba(0, 0, 0, .05);
  background-color: #2196f3 !important;
  color: #fff !important;
  font-size: 14px;
  padding: 5px 18px;
  text-transform: capitalize;
  text-decoration: none;
}
.q-layout-drawer{
   background: #012247 !important;
   color: #ffffff;
}
.side-menu{
  padding: 0;
}
.logo-title{
  background: #1565c0;
  height: 65px;
  line-height: 35px;
  color: #ffffff;
  font-size: 22px;
}
.profile-name{
  display: inline-block;
  padding: 12px 0px;
}
.side-menu .menu-item .list-items{
  line-height: 45px;
  border-bottom: 1px solid #022b59;
  color: #ffffff;
}
.side-menu .menu-item .list-items:hover, .side-menu .menu-item .list-items:focus{
  background: #04346a;
}
.side-menu .menu-item{
  padding: 0;
}
.side-menu .menu-item .list-items .q-item-side{
  color: #ffffff;
}
.progile-view .name-bt .q-focus-helper{
  background: none !important;
}
.card-details .card-subtitle h5{
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: #36c6d3;
}
.card-details{
  border-bottom: 1px solid #000;
}
.profile-sidebar .q-card{
  border-top: 3px solid #00C0EF;
}
.profile-sidebar .q-card .profile-userpic{
  float: left;
  width: 100%;
  text-align: center;
}
.profile-sidebar .q-card .profile-userpic img{
  margin: 0px auto;
  width: 130px;
  padding: 3px;
  border: 3px solid rgb(210, 214, 222);
  border-radius: 50% 50% 50% 50%;
}
.profile-sidebar .q-card .profile-usertitle {
    text-align: center;
    margin-top: 5px;
}
.profile-sidebar .q-card .profile-usertitle .profile-usertitle-name {
    font-size: 20px;
    margin-bottom: 2px;
    font-weight: bold;
    color: #3a405b;
}
.profile-sidebar .q-card .profile-usertitle .profile-usertitle-job {
    color: #777777;
    font-size: 12px;
    margin-bottom: 5px;
}
.profile-sidebar .q-card .list-group{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.profile-sidebar .q-card .list-group .list-group-item{
  display: block;
}
.profile-sidebar .q-card .list-group-unbordered > .list-group-item{
  border-left: 0px none;
  border-right: 0px none;
  border-radius: 0px 0px 0px 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.profile-sidebar .q-card .list-group .list-group-item{
  position: relative;
  display: block;
  padding: 15px 0;
  margin-bottom: -1px;
  background-color: #fff;
  border-top: 1px solid rgba(0,0,0,.125);
  border-bottom: 1px solid rgba(0,0,0,.125);
}
.profile-sidebar .q-card .list-group .list-group-item span{
  text-align: left;
  font-size: 16px;
  color: #6f6d6d;
  display: block;
  margin-top: 5px;
}
.test-view .list-tabs-view .q-tab-pane{
  border: none;
  padding: 30px 0;
}
.test-view .list-tabs-view .q-tabs-head:not(.scrollable){
  padding: 0;
}
.test-view .list-tabs-view h3{
  color: #2196f3;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 30px;
  margin-top: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #cdcdcd;
}
.test-view .list-tabs-view P{
  font-size: 16px;
}
.test-view .list-tabs-view .list-view-item{
  margin-bottom: 30px;
}
.test-view .list-tabs-view label{
  font-size 16px;
  color: #000000;
  padding-bottom: 10px;
  display: block;
}

.test-view .list-tabs-view .form-input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-bottom: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  outline: 0 !important;
  box-shadow: none !important;
}
.form-input {
  display: block;
  width: 100%;
  height: 45px;
  padding: 7px 12px;
  font-size: 16px;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-bottom: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  outline: 0 !important;
  box-shadow: none !important;
}
.test-view .list-tabs-view  .area-input, .search{
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-bottom: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  outline: 0 !important;
  box-shadow: none !important;
}
.test-view .list-tabs-view  .area-input{
  height: 150px;
}
.test-area .test-item .medselect{
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;

}
.test-view .list-tabs-view .add-test, .delete-btn, .save-btn, .add-btn{
  background-color: #3ac9d6 !important;
  border: 1px solid #3ac9d6 !important;
  color: #fff !important;
  text-transform: capitalize;
}
.add-btn{
    text-decoration: none;
    background-color: #3ac9d6 !important;
    border: 1px solid #3ac9d6 !important;
    color: #fff !important;
    text-transform: capitalize;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.05);
    color: #fff !important;
    font-size: 16px;
    padding: 7px 18px;
    margin-bottom: 20px;
    display: inline-block;
}
.save-btn{
  float: right;
  background-color: #8bc34a !important;
  border: 1px solid #8bc34a !important;
}
.save-area{
  margin-top: 10px;
  margin-bottom: 30px;
}
.save-btn1{
  float: right;
  background-color: #8bc34a !important;
  border: 1px solid #8bc34a !important;
  margin-bottom: 30px;
  display: block;
}
.test-view .list-tabs-view .delete-btn{
  background-color: #e91e63 !important;
  border: 1px solid #e91e63 !important;
  color: #fff !important;
  text-transform: capitalize;
}
.test-view .list-tabs-view .test-area{
  margin-top: 20px;
}
.test-view .list-tabs-view  .test-area label{
  font-size: 16px;
  font-weight: 500;
  color: #3a405b;
}
.test-view .list-tabs-view .test-area .test-item{
  margin-bottom: 20px;
}
.model-medicine .modal-content{
  padding: 20px !important;
}
.model-medicine .modal-content h4{
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  line-height: 17px;
  font-size: 16px;
  text-transform: uppercase;
  color: #3a405b;
  font-weight: 600;
  margin-bottom: 20px;
}
.model-medicine .modal-content table{
  margin-bottom: 20px;
}
.model-medicine .modal-content .model-btn{
  float: right;
}
.model-medicine .modal-content .model-btn .conform-btn{
  background: #8bc34a !important;
}
.table-view tr td img{
  width: 75px;
  height: 60px;
}
.state-overview .info-box{
  border-radius: 4px;
  min-height: 130px;
  background: #fff;
  width: 100%;
  box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
  margin-bottom: 20px;
  padding: 15px;
  display: block;
}
.state-overview .info-box-icon{
  float: left;
  height: 70px;
  width: 70px;
  text-align: center;
  font-size: 30px;
  line-height: 74px;
  background: rgba(0, 0, 0, .2);
  border-radius: 100%;
}
.state-overview .info-box-icon.push-bottom {
  margin-top: 20px;
}
.state-overview .info-box-content {
  padding: 10px 10px 10px 0;
  margin-left: 90px;
  margin-top: 15px;
}
.state-overview .info-box-content .info-box-text{
  display: block;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
  color: #ffffff;
}
.state-overview .info-box-content .info-box-number {
  font-weight: 500;
  font-size: 30px;
  color: #ffffff;
}
.profile-sidebar p, .test-view .about p{
  text-align: justify;
  line-height: 24px;
  font-size: 16px;
}
.profile-sidebar .q-progress{
  margin-top: 15px;
}
.test-view .about h4{
  margin: 0;
  font-size: 20px;
  color:#3a405b;
}
.test-view .about hr{
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #ccc, #ccc);
}
.test-view .about ul{
  padding-left: 20px;
}
.test-view .about ul li{
  line-height: 30px;
  font-size: 14px;
}
.autocomplete__box{
  border: none !important;
  padding: 0 !important;
}
autocomplete__results{
  text-align: left !important;
  background-color: #000 !important;
  border: 1px solid #ccc !important;
}
.autocomplete__results__item{
  text-align: left;
}
.q-item-main a{
  text-decoration: none;
  color: #000;
}
.search{
  height: 40px;
  margin-bottom: 30px;
}
.search .q-if-inner{
position: absolute;
left: 50px;
}
.search i{
  display: inline-block;
  float: left;
}
.q-card .card-header .more-btn{
    float: right;
    display: inline-block;
    text-decoration: none;
    color: #012247;
    font-size: 16px;
    text-transform: capitalize;
}
.q-card .form-body .form-group{
    margin-bottom: 25px;
    display: block;
}
.q-card  .form-body .form-group .control-label{
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
    margin-top: 1px;
    font-weight: 400;
    display: inherit;
    font-size: 16px;
    margin-right: 10px;
}
.q-card  .form-body .form-group .message-input{
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-bottom: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    outline: 0 !important;
    box-shadow: none !important;
}
.q-card  .form-body .form-group .select-input{
    width: 100%;
    height: 45px;
    padding: 7px 12px;
    font-size: 14px;
    color: #555;
    border: 1px solid #ccc;
    border-bottom: none;
}
.creat-btn-patient{
  float: right;
}
.model-appointment .modal-content{
  padding: 30px;
  border-radius: 5px;
  width: 550px;
}
.model-appointment .modal-content h4{
  margin: 0;
  font-size: 20px;
  line-height: 0px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 40px;
}
.model-appointment .modal-content h6{
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: #666;
  margin-bottom: 20px;
}
.model-appointment .modal-content .model-btn{
  float: right;
}
.model-appointment .modal-content .model-btn .conform-btn{
  margin-right: 10px;
}
.model-appointment .modal-content label{
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
  display: block;
}
.model-appointment .modal-content .medselect{
  margin-bottom: 20px;
}
div.upload {
    width: 157px;
    height: 57px;
    background: url(https://lh6.googleusercontent.com/-dqTIJRTqEAQ/UJaofTQm3hI/AAAAAAAABHo/w7ruR1SOIsA/s157/upload.png);
    overflow: hidden;
}

div.upload input {
    display: block !important;
    width: 157px !important;
    height: 57px !important;
    opacity: 0 !important;
}
.back-btn{
  float: left;
}
.login-form .q-field-icon{
  font-size: 20px ;
  color: #333333;
  background: #ededed;
  height: 50px;
  padding: 15px 15px 10px 30px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom: none;
  margin: 0;
}
.space{
  margin-bottom: 20px;
}
.space .select-input{
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
}
.right-view{
  float: right;
}
.model-medicine h6{
  margin: 0;
  font-size: 18px;
  color:#2196f3;
  margin-bottom: 10px;
}
.model-medicine ol{
  margin: 0;
  padding-left: 20px;
}
.model-medicine ol li{
  line-height: 25px;
}
.model-medicine p{
  margin: 0;
}
.model-medicine .detail-view{
  margin-bottom: 20px;
}
.model-medicine .modal-content{
  max-height: 100vh;
}
.right-float{
  float: right;
}
.model-medicine span{
  padding-bottom: 10px;
  display: inlin-block;
  font-sizw: 16px;
  font-weight: 500;
}
.past-history .detail-view{
  margin: 10px 0 20px 0;
}
.past-history .detail-view:last-child{
  margin-bottom: 0;
}
.past-history p{
  font-size: 16px;
}
.past-history .detail-view{
  padding-top: 10px;
  border-top: 1px solid #cdcdcd;
  margin-top: 30px;
}
.past-history .detail-view h6{
  margin:0;
  font-size: 16px;
  margin-bottom: 10px;
}

.form-group__error{
  color: #D8000C;
  display: inline-block !important;
  margin-top: 5px;
}

@media only screen and (max-width: 992px) {
    .q-card .form-body .form-group .control-label {
        float: left;
    }
}


/* Common model view
--------------------
*/

.smart-model-view .modal-content{
  background: #ffffff;
  border-radius: 15px;
  box-shadow: none;
}
.smart-model-view .modal-content .model-header{
  background: #2ccee6;
  padding: 10px 0 10px 30px;
}
.smart-model-view .modal-content .model-header .model-title{
  line-height: 35px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  white-space: normal;
}
.smart-model-view .modal-content .model-main{
  padding: 15px 30px;
}
.smart-model-view .modal-content .model-main .model-main-content{
  display: block;
  margin-bottom: 15px;
}
.smart-model-view .modal-content .model-main .model-main-content.disable-model-content{
  text-align: center;
}

.smart-model-view .q-card{
  margin-bottom: 0px !important;
  margin-top: 0px !important;
  border-radius: 0px !important ;
  border-top: none !important;
}

.smart-model-view .header-btn{
  display: inline-block;
}


@media only screen and (max-width: 767px) {
  .smart-model-view .modal-content .model-main .model-main-content{
    maegin-bottom: 10px;
  }
  .smart-model-view .modal-content .model-header .model-title{
    font-size: 16px;
    line-height: 24px;
  }
  .smart-model-view .modal-content .model-main{
    padding: 15px;
  }
  .smart-model-view .modal-content .model-header{
    padding: 10px 0 10px 15px;
  }
  .smart-model-view .model-footer{
    padding: 15px;
  }
  .smart-model-view .modal-content .model-main .model-main-content{
    margin-bottom: 10px;
  }
  .smart-model-view .model-footer{
    padding: 15px;
  }
  .smart-model-view .modal-content .model-header .model-title{
    font-size: 16px;
  }
}

@media only screen and (min-width: 768px) {
  .smart-model-view .modal-content .model-main .model-main-content{
    margin-bottom: 10px;
  }
  .smart-model-view .model-footer{
    padding: 15px;
  }
  .smart-model-view .modal-content .model-header .model-title{
    font-size: 16px;
  }
}